<div class="row mt-5">
  <div class="col-md-6">
    <h5>Docker Performance</h5>
    <canvas id="dockerChart"></canvas>
  </div>
  <div class="col-md-6">
    <h5>PM2 Performance</h5>
    <canvas id="pm2Chart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
